<div class="strip">
  <a name="vorteile"></a>
  <div class="container pt-6 pb-6 pb-md-10">
    <h1>Vorteile unseres Systems</h1>
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for advantage in site.advantages limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              {{ advantage.title }}
            </h2>
            <p>{{ advantage.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "coaching-cards" | relative_url }}">Jetzt ausprobieren</a>
      </div>
    </div>
  </div>
</div>
