<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ site.baseurl }}">
        <img src="/images/logo/sichtweisen_logo.webp" width="100" height="100" alt="SichtWeisen Logo">
      </a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl }}">
        <img src="/images/logo/sichtweisen_logo_tiny.webp" width="60" height="60" alt="SichtWeisen Tiny Logo">
      </a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
